@import './vendor/bootstrap/bootstrap.less';
@import './vendor/font-awesome/font-awesome.less';

html, body, .container, #app {
  height: 100%;
}

h2 {
  font-size: 1.25em;
  padding: 0;
  margin: .5em 0;
}

.sort {
  position: relative;
}

.search-list-filters-footer { .text-muted(); }

.filter-list, .search-list-sort {
  line-height: 1.5;
}

.filter-list {
  &>* { display: none; }
  &>.filters-exist { display: block; }
}

.search-list-sort {
  &[data-n-searches="0"] { display: none; }

  .sort {
    display: -webkit-flex;
    display: flex;
  }

  a {
    display: none;
    opacity: .5;
    &::before {
      content: "​"; // zero-width space to adjust text height
    }
  }

  a.sort-by-query {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    margin-left: 1.5em;
  }

  a.sort-by-n-documents {
    &::after {
      // Line up with count by creating an empty cell with the same width as
      // everything that comes after.
      opacity: 0;
      padding-right: 1.15em;
      content: "EditDelete@{fa-var-edit}@{fa-var-trash}";
    }
  }

  &.sort-by-n-documents-desc {
    a.sort-by-n-documents-asc::before { content: "▾ "; }
    a.sort-by-n-documents-asc, a.sort-by-query-asc { display: block; }
  }
  &.sort-by-n-documents-asc {
    a.sort-by-n-documents-desc::before { content: "▴ "; }
    a.sort-by-n-documents-desc, a.sort-by-query-asc { display: block; }
  }
  &.sort-by-query-asc {
    a.sort-by-query-desc::before { content: "▴ "; }
    a.sort-by-query-desc, a.sort-by-n-documents-desc { display: block; }
  }
  &.sort-by-query-desc {
    a.sort-by-query-asc::before { content: "▾ "; }
    a.sort-by-query-asc, a.sort-by-n-documents-desc { display: block; }
  }
}

ul.searches, ul.search-list-filters {
  .list-unstyled();
}

ul.searches li.filter {
  display: none;
}

ul.search-list-filters:not(:empty) {
  border: 1px solid #ddd;
  border-radius: @border-radius-base;
  background: #f5f5f5;
  padding: 0 1em;
}

li.search {
  .when-not-editing {
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
  }

  padding: .25em 0;
  margin: 0;
  height: 2.5em; // box-sizing:border-box, so includes padding

  &.editing > .when-not-editing { display: none; }
  &:not(.editing) > .when-editing { display: none; }

  span.count {
    font-size: 1.25em;
    line-height: 2 / 1.25;
    color: @link-color;
    padding: 0 .5em;
    text-align: right; // useful especially for errors
  }

  span.error {
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    color: @brand-danger;
    font-size: .8em;
    line-height: 1 / .8; // wrap to two lines
    padding: 0 .5em / .8;
  }

  h5 {
    -webkit-flex: 1 0 auto;
    flex-grow: 1 0 auto;
    font-size: 1.25em;
    line-height: 2 / 1.25;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }

  &:hover {
    h5, span.count:not(.error) {
      text-decoration: underline;
      color: @link-hover-color;
    }
  }

  .actions {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    font-size: .85em;
    line-height: 2 / .85;
    white-space: nowrap;
    margin-right: -.5em;

    i {
      padding-right: .2em;
    }

    a {
      padding: 0 .5em;
      opacity: .5;
    }

    .delete {
      color: @brand-danger;
    }

    a:hover {
      opacity: 1;
    }
  }

  .toggle-filter {
    .fa-icon();
    &:before { content: @fa-var-square-o; }

    line-height: 2;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    width: 1.5em;
    height: 2em;
    text-decoration: none;

    color: @gray-light;
    opacity: .5;

    &:hover {
      color: @brand-primary;
      opacity: .75;
    }
  }

  &.filter .toggle-filter {
    // when on
    &:before { content: @fa-var-check-square-o; }
  }
}

ul.search-list-filters li.search .toggle-filter {
  &:before { content: @fa-var-check-square-o; }
}

div.main {
  .container();
  position: absolute;
  top: 0;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

div.source {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: @well-bg;
  z-index: 2; // put it over the input

  form {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 0;
    height: 100%;
  }

  .form-group {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;

    label {
      display: block;
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto;
    }

    textarea {
      display: block;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
    }
  }

  .btn-group {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}

// http://tobiasahlin.com/spinkit/
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: @gray-light;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
