@import './vendor/bootstrap/bootstrap.less';

html, body, .container, #app {
  height: 100%;
}

.search-list-filters-header {
  display: none;
  font-size: 1em;
  line-height: 1.5;

  &.filters-exist {
    display: block;
  }
}

.search-list-sort {
  position: relative;
  line-height: 1.5;
  margin-right: -@grid-gutter-width / 2;

  &[data-n-searches="0"] { display: none; }

  a {
    width: 5em;
    display: none;
    opacity: .5;
    &::before {
      content: "​"; // zero-width space to adjust text height
      vertical-align: text-bottom;
    }
  }

  a.sort-by-name {
    margin-left: 2em;
  }

  a.sort-by-n-documents {
    position: absolute;
    top: 0;
    right: 5em;
    text-align: right;
  }

  &.sort-by-n-documents-desc {
    a.sort-by-n-documents-asc::before { content: "▾ "; }
    a.sort-by-n-documents-asc, a.sort-by-name-asc { display: block; }
  }
  &.sort-by-n-documents-asc {
    a.sort-by-n-documents-desc::before { content: "▴ "; }
    a.sort-by-n-documents-desc, a.sort-by-name-asc { display: block; }
  }
  &.sort-by-name-asc {
    a.sort-by-name-desc::before { content: "▴ "; }
    a.sort-by-name-desc, a.sort-by-n-documents-desc { display: block; }
  }
  &.sort-by-name-desc {
    a.sort-by-name-asc::before { content: "▾ "; }
    a.sort-by-name-asc, a.sort-by-n-documents-desc { display: block; }
  }
}

ul.searches, ul.search-list-filters {
  .list-unstyled();
}

ul.search-list-filters:not(:empty) {
  border: 1px solid #ddd;
  border-radius: @border-radius-base;
  background: #f5f5f5;
  padding: 0 1em;

  li.search {
    // keep the border alive
    margin: 0 (@grid-gutter-width / -2) - 1px;
  }
}

ul.searches li.filter { display: none; }

li.search {
  clear: both;
  position: relative;
  padding: .75em (@grid-gutter-width / 2);
  margin: 0 (@grid-gutter-width / -2);
  line-height: 1.5;

  &.editing > .when-not-editing { display: none; }
  &:not(.editing) > .when-editing { display: none; }

  &:hover {
    background: @table-bg-hover;
  }

  .count {
    float: right;
    font-size: 3em;
    line-height: 1;
  }

  span.error {
    text-align: right;
    color: @brand-danger;
    float: right;
    font-size: .85em;
    line-height: 1.5 / .85;
    margin-right: 1.5em / .85;
    max-width: 25em;
  }

  h5 {
    font-size: 1.25em;
    line-height: 1.2;
    font-weight: bold;
    padding: 0;
    margin: 0;

    a {
      display: block; // so the whole thing is a link
    }
  }

  div.query {
    color: #aaa;
    font-size: .85em;
    line-height: 1.5 / .85;

    span.title {
      padding-right: .25em;
    }
  }

  .actions {
    font-size: .85em;
    line-height: 1.5 / .85;
    float: right;
    margin-right: -@grid-gutter-width / 2;
    width: 5em / .85em;

    a {
      padding: 0 @grid-gutter-width / 2;
      display: block;
      text-align: right;
      opacity: .5;
    }

    a:hover {
      opacity: 1;
    }
  }

  .toggle-filter {
    .glyphicon();
    .glyphicon-filter();

    float: left;
    font-size: 1em;
    line-height: 3;
    width: 2em;
    height: 3em;
    text-decoration: none;

    // when off
    color: @gray-light;
    opacity: .5;

    &:hover {
      opacity: .75;
    }
  }

  &.filter .toggle-filter {
    // when on
    color: @brand-primary;
    opacity: 1;

    &:hover {
      opacity: .75;
    }
  }
}

div.main {
  .container();
  position: absolute;
  top: 0;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

div.source {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 2; // put it over the input

  form {
    .well();
    margin: 0;
    box-sizing: border-box;
    height: 100%;
  }

  .help-text {
    .text-muted();
  }
}

// http://tobiasahlin.com/spinkit/
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: @gray-light;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
