.main
  .row
    .col-xs-12
      h2 Searches
      .search-list-header
      .search-list
  .row
    .col-xs-12
      .search-form
  .row
    .col-xs-12
      a.edit-source(href="#") Edit entire list as text
