h2 Searches

.sort
  a.sort-asc.sort-by-query.sort-by-query-asc(href="#") Sort
  a.sort-desc.sort-by-query.sort-by-query-desc(href="#") Sort
  a.sort-asc.sort-by-n-documents.sort-by-n-documents-asc(href="#") Sort<i class="spacing"></i>
  a.sort-desc.sort-by-n-documents.sort-by-n-documents-desc(href="#") Sort<i class="spacing"></i>
