form.source(action='#', method='post', role='form')
  .form-group
    label(for='source-source') Enter one search per line
    textarea.form-control#source-source(name='source', rows=10)= source
  .btn-group
    button.btn.btn-primary(type='submit') Use these searches
    button.btn.btn-default(type='reset') Cancel
