.sort
  a.sort-asc.sort-by-query.sort-by-query-asc(href="#") Query
  a.sort-desc.sort-by-query.sort-by-query-desc(href="#") Query
  a.sort-asc.sort-by-n-documents.sort-by-n-documents-asc(href="#") Count
  a.sort-desc.sort-by-n-documents.sort-by-n-documents-desc(href="#") Count
